@page
@model AdventCalendarWebApp.Pages._2020.SnowmanForestModel
@{
    ViewData["Title"] = "Snowman Forest";
    var guess = 0;
    if (ViewData.ContainsKey("guess"))
    {
        guess = (int)ViewData["guess"];
    }
}

<div class="btn-group-vertical d-block">
    <a asp-page="Map" class="btn btn-light">Leave the forest</a>
</div>
<hr />

@if (Model.Solved)
{
    <div class="alert alert-success">Impossible, you really did it! You found the missing Christmas Elf.</div>
}
else if (Model.CanSolve)
{
    <p>
        Look at this beautiful forest of snowmen.
    </p>
}

<svg class="img-fluid" viewBox="-278.646 -426.117 1071.957 817.755" xmlns="http://www.w3.org/2000/svg">
    <a asp-page="SnowmanForest" asp-route-tree="0" asp-route-guess="@guess">
        <g>
            <title>Snowman1</title>
            <path d="M 272.885 239.945 C 260.697 242.992 248.521 250.768 242.025 262.136 C 238.458 268.378 238.69 274.914 236.477 281.553 C 232.083 294.736 232.393 314.454 235.784 328.017 C 237.718 335.753 239.765 347.601 245.839 353.675 C 253.441 361.277 261.841 364.095 272.191 367.545 C 282.627 371.024 292.48 374.277 303.745 372.399 C 318.675 369.911 332.993 365.961 345.7 357.49 C 348.026 355.939 349.7 352.796 351.595 350.902 C 370.376 332.12 374.977 302.219 370.666 276.352 C 369.154 267.284 362.803 260.398 358.183 253.467 C 355.844 249.959 352.712 245.428 349.168 243.065 C 336.351 234.521 316.509 225.519 300.277 230.929 C 292.297 233.589 283.595 234.872 275.659 237.517 C 273.013 238.399 269.486 241.678 267.337 241.678" />
            <path d="M 287.101 232.663 C 281.906 234.889 278.794 230.251 275.312 226.768 C 268.709 220.165 264.36 209.253 262.829 200.069 C 260.325 185.041 267.747 160.523 284.674 155.687 C 289.58 154.285 295.203 154.105 300.277 153.259 C 317.237 150.433 337.398 168.045 343.273 182.732 C 344.844 186.66 345.382 190.475 346.394 194.521 C 349.687 207.695 347.034 219.34 334.951 225.381 C 331.404 227.155 328.03 232.663 323.509 232.663" />
            <path d="M 298.544 264.216 C 290.089 270.255 297.528 280.501 306.519 276.006 C 316.815 270.858 296.81 258.279 296.81 266.644" />
            <path d="M 297.503 293.343 C 292.098 297.848 294.802 309.776 302.705 305.825 C 306.069 304.143 310.064 296.143 303.745 294.036 C 300.841 293.068 297.627 294.383 296.463 294.383" />
            <path d="M 296.116 329.404 C 290.88 332.396 289.739 339.298 296.463 341.54 C 299.375 342.51 302.899 339.611 304.438 338.072 C 308.151 334.36 304.884 328.586 300.971 326.63 C 298.605 325.447 293.689 329.111 293.689 330.097" />
            <path d="M 283.634 170.943 C 275.967 173.134 283.522 182.961 288.141 180.652 C 292.575 178.435 291.541 172.123 287.101 169.903 C 285.637 169.171 281.955 170.596 281.9 170.596" />
            <path d="M 314.494 170.596 C 311.002 170.596 310.271 171.76 308.946 174.411 C 307.836 176.63 312.124 179.939 314.147 179.265 C 320.781 177.054 320.821 170.25 312.76 170.25" />
            <path d="M 278.779 204.23 C 285.85 211.3 297.166 220.176 308.946 214.286 C 310.416 213.551 312.952 213.4 314.147 212.205 C 316.49 209.862 319.326 206.333 321.775 203.883 C 322.285 203.373 322.947 201.11 323.509 201.11" />
            <path d="M 297.503 185.159 C 300.962 188.041 304.81 188.305 307.559 191.054 C 307.777 191.272 312.108 193.093 311.72 193.481 C 309.945 195.256 296.94 195.691 297.503 196.255" />
            <path d="M 365.465 265.257 C 369.651 260.233 376.637 258.592 381.068 254.161 C 389.186 246.043 400.517 240.259 409.154 231.623 C 412.833 227.943 418.138 225.051 422.33 222.954 C 423.727 222.256 424.858 220.18 426.491 220.18 C 426.691 218.593 426.08 215.928 426.491 214.286 C 427.324 210.955 428.571 206.639 428.571 203.19" />
            <path d="M 425.797 220.874 C 430.538 222.849 435.355 223.864 440.014 225.728 C 440.508 225.926 446.026 228.155 443.135 228.155" />
            <path d="M 238.211 265.95 C 234.531 262.796 230.431 262.214 226.422 259.709 C 217.757 254.293 207.986 247.322 198.336 244.105 C 195.661 243.214 193.361 241.792 191.054 240.638 C 189.859 240.041 186.403 240.841 186.2 240.638 C 185.424 239.863 185.452 237.154 185.16 236.13 C 184.308 233.15 183.468 230.058 182.732 227.115 C 182.355 225.604 179.958 223.33 179.958 222.954" />
            <path d="M 185.159 243.065 C 178.03 243.065 172.979 248.462 167.129 251.387" />
        </g>
    </a>
    <a asp-page="SnowmanForest" asp-route-tree="1" asp-route-guess="@guess">
        <g>
            <title>Snowman2</title>
            <path d="M 646.671 170.25 C 634.867 165.003 621.789 173.315 612.344 179.612 C 605.197 184.376 598.838 193.066 596.741 201.456 C 595.442 206.651 592.512 211.434 591.193 216.713 C 587.647 230.896 589.673 245.547 598.474 257.282 C 602.744 262.974 607.317 269.634 614.771 271.498 C 630.723 275.486 644.412 274.777 660.541 271.845 C 664.932 271.046 669.376 270.632 673.717 269.764 C 681.837 268.14 688.998 261.775 695.908 257.628 C 704.827 252.277 709.755 243.111 714.286 234.05 C 721.638 219.344 722.211 197.113 712.205 183.773 C 709.947 180.761 708.414 176.853 705.27 174.757 C 697.401 169.511 691.066 167.912 682.386 165.742 C 673.956 163.635 661.701 166.145 653.606 168.169 C 652.255 168.507 644.244 169.575 644.244 170.943" />
            <path d="M 638.35 166.089 C 630.001 167.132 623.731 159.737 620.319 152.913 C 619.532 151.339 617.222 150.88 616.505 149.445 C 614.454 145.344 611.765 141.468 610.263 136.963 C 609.14 133.594 606.654 127.191 608.53 123.44 C 614.024 112.452 615.629 94.751 628.987 88.072 C 631.919 86.606 633.706 82.916 636.963 81.831 C 643.099 79.785 649.096 77.844 655.34 76.283 C 660.323 75.037 668.936 76.666 673.024 78.71 C 674.542 79.47 677.356 79.229 678.571 80.444 C 679.769 81.641 681.939 83.994 683.773 84.605 C 689.804 86.615 694.531 91.905 697.295 97.434 C 699.585 102.013 702.888 105.846 705.27 110.61 C 706.196 112.462 705.304 114.871 705.964 116.852 C 708.754 125.223 703.531 141.476 699.376 145.631 C 697.611 147.396 697.18 150.254 695.908 151.526 C 693.757 153.677 692.505 157.356 690.707 159.154 C 689.163 160.698 686.048 160.693 684.466 162.275 C 683.823 162.918 681.051 166.089 679.612 166.089" />
            <path d="M 600.208 22.538 C 616.257 27.124 635.733 33.464 653.953 29.82 C 659.589 28.692 664.727 28.887 670.25 27.046 C 671.348 26.68 674.689 27.461 675.451 26.699 C 676.795 25.355 681.986 24.805 684.119 24.272 C 690.515 22.673 696.484 19.13 702.15 16.297 C 704.031 15.356 706.81 11.789 708.391 11.789" />
            <path d="M 631.415 31.207 C 623.846 40.289 618.763 52.104 625.867 62.76 C 629.929 68.854 636.212 72.787 641.817 75.589 C 643.287 76.325 649.098 78.411 649.098 76.283" />
            <path d="M 677.531 26.352 C 682.424 28.187 683.542 31.787 685.853 36.408 C 690.347 45.396 693.881 61.267 689.32 70.388 C 686.804 75.42 688.04 81.831 680.999 81.831" />
            <path d="M 631.761 27.393 C 633.064 16.969 635.182 0.508 632.455 -10.402 C 631.656 -13.599 633.185 -18.304 631.761 -21.151 C 631.546 -21.582 630.893 -24.444 631.415 -24.965 C 631.785 -25.336 633.991 -25.131 634.535 -25.312 C 639.153 -26.851 644.747 -23.746 649.445 -25.312 C 654.54 -27.01 668.107 -28.117 673.024 -25.659 C 675.591 -24.375 678.847 -26.424 680.652 -24.619 C 682.675 -22.596 680.727 -17.112 681.692 -14.216 C 682.637 -11.38 681.295 -7.829 682.039 -4.854 C 684.053 3.2 684.119 12.626 684.119 20.804" />
            <path d="M 641.817 38.141 C 634.426 40.253 640.025 50.133 646.671 46.81 C 657.105 41.593 640.777 30.968 640.777 39.182" />
            <path d="M 669.209 36.408 C 665.542 35.884 658.577 38.605 662.968 42.996 C 663.822 43.85 665.668 43.665 666.782 44.036 C 670.527 45.284 675.137 37.811 672.33 36.408 C 670.945 35.715 670.158 36.408 668.863 36.408" />
            <path d="M 639.39 59.293 C 646.144 67.398 658.596 70.946 666.782 62.76 C 668.318 61.225 672.33 59.154 672.33 56.519" />
            <path d="M 653.953 98.474 C 652.307 98.945 650.86 99.112 650.139 100.555 C 648.881 103.07 650.856 108.175 653.953 107.143 C 655.143 106.746 657.766 106.451 658.46 105.409 C 661.195 101.307 657.813 98.474 653.953 98.474" />
            <path d="M 652.566 137.656 C 647.173 136.886 646.37 144.093 650.832 146.325 C 651.391 146.604 652.746 145.455 653.259 145.284 C 659.407 143.235 657.648 137.309 651.872 137.309" />
            <path d="M 648.405 184.466 C 641.416 185.34 644.023 193.786 649.098 192.094 C 655.633 189.916 649.972 181.165 644.938 186.2" />
            <path d="M 643.204 205.27 C 637.754 211.629 645.346 217.631 648.405 211.512 C 651.186 205.951 643.696 206.165 641.47 208.391" />
            <path d="M 642.164 225.035 C 641.355 225.959 640.441 226.802 639.736 227.809 C 638.918 228.978 640.579 233.109 642.164 232.316 C 646.781 230.008 646.386 224.688 641.123 224.688" />
            <path d="M 637.309 247.92 C 634.634 250.149 631.374 260.499 638.696 258.669 C 639.779 258.398 640.704 257.079 641.123 256.241 C 641.971 254.547 644.666 251.537 643.551 249.307 C 641.958 246.12 634.882 244.599 634.882 248.613" />
            <path d="M 702.843 110.264 C 707.216 109.639 709.874 105.724 713.939 104.369 C 727.052 99.998 738.377 87.341 748.96 79.404 C 753.36 76.104 758.67 73.852 760.749 69.695 C 761.1 68.992 762.483 59.986 762.483 59.986 C 762.483 59.986 761.844 61.318 761.789 61.373" />
            <path d="M 760.749 72.122 C 763.641 73.93 766.215 76.176 769.417 76.976 C 770.008 77.124 771.58 78.628 771.845 78.363 C 772.403 77.805 771.45 77.67 771.151 77.67" />
            <path d="M 605.409 126.214 C 594.89 133.226 586.38 143.163 577.67 151.872 C 576.094 153.448 572.135 154.62 571.082 156.727 C 570.591 157.707 570.817 159.072 570.042 159.847 C 569.514 160.375 567.148 159.847 566.227 159.847 C 563.827 159.847 555.377 160.194 556.519 160.194" />
            <path d="M 566.227 159.847 C 567.047 164.354 569.348 170.84 569.348 175.104" />
            <path d="M 653.6060883704563 50.277391413112014 C 652.5658569335938 51.31761169433594 651.7094387052588 52.58203862520506 650.4854125976562 53.39805603027344 C 650.0320729448082 53.700282465505445 647.49022189566 55.25723544546469 648.4049682617188 56.17198181152344 C 649.3080421870488 57.075055736853564 656.7525424088383 55.82524108886719 657.4202270507812 55.82524108886719" />
        </g>
    </a>
    <a asp-page="SnowmanForest" asp-route-tree="2" asp-route-guess="@guess">
        <g>
            <title>Snowman3</title>
            <path d="M 163.315 -40.569 C 166.579 -40.569 172.005 -45.781 175.451 -47.503 C 188.035 -53.796 202.721 -51.552 214.979 -45.423 C 219.312 -43.256 221.167 -38.542 224.341 -35.368 C 241.097 -18.612 234.831 9.823 221.914 27.046 C 215.095 36.138 201.209 38.876 191.054 40.569 C 187.342 41.187 183.225 38.864 179.612 38.141 C 174.942 37.207 165.701 36.367 162.275 32.94 C 153.247 23.913 153.255 13.511 149.445 2.08 C 148.229 -1.568 148.245 -7.149 149.445 -10.749 C 153.481 -22.855 152.413 -41.956 169.556 -41.956 C 171.29 -44.524 173.728 -42.627 174.411 -41.262 C 178.025 -34.033 185.622 -27.97 191.054 -22.538 C 191.626 -21.966 190.707 -19.446 190.707 -18.724 C 190.707 -14.793 188.28 -11.246 188.28 -7.282 C 188.28 -3.518 186.688 5.264 185.16 8.322 C 184.277 10.087 185.357 12.781 184.466 14.563 C 183.774 15.948 184.466 19.572 184.466 21.151 C 184.466 27.539 185.506 34.689 185.506 39.182" />
            <path d="M 183.773 -51.664 C 175.352 -48.858 163.128 -64.281 166.089 -73.162 C 168.725 -81.07 170.693 -87.475 176.838 -93.62 C 184.453 -101.235 203.572 -103.311 213.245 -98.474 C 220.638 -94.778 220.238 -85.763 221.914 -79.057 C 222.543 -76.54 223.508 -71.495 222.261 -69.001 C 220.52 -65.521 217.828 -62.488 215.673 -60.333 C 212.926 -57.586 208.149 -54.011 204.23 -52.705 C 201.728 -51.871 198.722 -48.93 199.376 -49.584" />
            <path d="M 188.974 -22.191 C 202.188 -24.079 208.65 -35.279 216.019 -42.649" />
            <path d="M 183.426 -88.419 C 178.215 -85.441 181.901 -76.734 186.546 -79.057 C 190.52 -81.044 192.139 -85.254 188.974 -88.419 C 188.274 -89.119 184.802 -88.419 183.773 -88.419" />
            <path d="M 202.497 -89.806 C 198.65 -85.959 199.573 -77.248 205.964 -80.444 C 212.708 -83.816 206.918 -89.459 201.803 -89.459" />
            <path d="M 176.838 -64.84 C 182.678 -59.835 199.729 -56.532 203.883 -64.84 C 204.482 -66.038 208.044 -67.792 208.044 -69.001" />
            <path d="M 223.301 -32.594 C 228.8 -33.816 234.312 -34.112 238.904 -36.408 C 239.963 -36.937 243.353 -36.696 244.105 -37.448 C 244.146 -37.488 247.226 -38.623 247.226 -38.488 C 247.226 -36.34 243.528 -29.357 245.839 -27.046 C 246.506 -26.379 247.201 -23.974 247.573 -23.232 C 247.774 -22.829 250.394 -20.851 250 -20.458 C 247.66 -18.118 242.264 -19.15 238.904 -18.031 C 235.996 -17.061 234.237 -15.603 231.969 -15.603" />
            <path d="M 248.266 -37.448 C 257.327 -34.859 255.35 -24.421 250.693 -19.764" />
            <path d="M 246.533 -28.433 C 257.302 -30.826 269.071 -33.503 269.071 -46.117" />
            <path d="M 266.297 -34.327 C 267.161 -33.679 276.006 -28.429 276.006 -27.393" />
            <path d="M 153.953 -30.166 C 149.082 -32.602 143.94 -35 139.043 -37.448 C 138.522 -37.709 135.229 -39.528 135.229 -39.528 C 135.229 -39.528 134.712 -34.334 134.535 -33.981 C 132.659 -30.228 130.866 -27.191 127.947 -24.272 C 127.689 -24.014 126.227 -21.125 125.52 -22.538 C 123.735 -26.109 129.275 -34.268 131.068 -36.061 C 131.262 -36.255 134.189 -37.604 134.189 -37.795" />
            <path d="M 125.173 -20.458 C 132.025 -18.402 141.847 -15.92 146.325 -11.442" />
            <path d="M 128.294 -29.126 C 121.652 -30.787 111.003 -34.674 105.756 -34.674 C 102.288 -37.547 100.48 -41.14 99.168 -45.076 C 98.969 -45.674 98.672 -48.197 98.128 -48.197" />
            <path d="M 104.369 -33.634 C 101.11 -30.375 96.329 -29.061 93.62 -26.352" />
            <path d="M 191.748 -76.63 C 192.489 -76.3 200.069 -74.708 200.069 -74.202 C 200.069 -73.496 192.938 -68.805 192.441 -68.308" />
            <path d="M 202.843 -12.483 C 202.843 -8.525 202.15 -5.769 202.15 -2.08 C 202.15 -1.563 201.768 1.351 202.15 1.734 C 203.334 2.918 206.37 2.427 208.044 2.427 C 209.742 2.427 214.147 2.843 215.673 2.08 C 218.054 0.89 217.298 -9.471 216.366 -10.402 C 215.904 -10.865 216.828 -12.714 216.366 -13.176 C 215.605 -13.938 213.363 -13.235 212.552 -12.829 C 210.182 -11.644 204.724 -11.789 201.803 -11.789" />
        </g>
    </a>
    <a asp-page="SnowmanForest" asp-route-tree="3" asp-route-guess="@guess">
        <g>
            <title>Snowman4</title>
            <g>
                <path d="M -61.552 222.49 C -67.955 221.85 -72.624 226.97 -76.51 232.15 C -83.948 242.068 -91.458 255.87 -88.039 269.544 C -86.158 277.071 -85.484 284.379 -83.054 291.669 C -81.729 295.642 -77.72 298.873 -74.951 301.641 C -71.843 304.75 -67.955 310.168 -63.422 311.301 C -42.462 316.541 -21.837 310.793 -3.903 298.837 C 11.009 288.896 12.642 268.44 9.497 252.717 C 8.848 249.473 8.153 245.387 6.381 242.434 C 2.3 235.632 -2.559 229.667 -7.642 223.737 C -13.057 217.418 -24.244 214.879 -31.325 212.518 C -40.723 209.386 -53.255 213.881 -58.747 219.374 C -60.865 221.491 -66.538 221.978 -66.538 224.671" />
                <path d="M -50.957 213.141 C -55.12 213.141 -57.285 209.114 -60.305 206.598 C -68.754 199.557 -77.15 187.953 -73.393 176.682 C -65.894 154.184 -41.758 146.405 -20.107 153.622 C -15.116 155.286 -12.775 159.707 -9.2 163.283 C -1.596 170.887 5.218 183.681 -0.163 194.444 C -3.869 201.856 -11.182 206.809 -18.237 210.337 C -19.728 211.083 -26.651 214.244 -26.651 213.453" />
                <path d="M -63.11 110.931 C -54.304 113.132 -42.518 112.327 -34.441 110.307 C -31.083 109.468 -25.961 112.111 -23.534 109.684 C -21.515 107.664 -15.788 110.351 -14.809 109.373" />
                <path d="M -55.008 114.047 C -56.946 117.438 -58.632 120.048 -60.305 123.395 C -61.395 125.575 -59.57 129.092 -60.617 131.186 C -61.676 133.305 -59.422 137.939 -58.436 139.911 C -54.631 147.521 -50.382 151.753 -41.608 151.753" />
                <path d="M -28.209 152.064 C -13.704 147.92 -16.381 130.847 -21.042 121.526 C -22.594 118.42 -25.029 111.554 -28.209 111.554" />
                <path d="M -50.022 119.968 C -52.973 122.427 -51.152 128.946 -46.906 126.823 C -41.375 124.058 -45.259 120.902 -50.022 120.902" />
                <path d="M -34.13 119.344 C -34.997 119.778 -36.827 120.377 -37.246 121.214 C -38.178 123.08 -36.733 126.029 -34.441 125.265 C -32.807 124.721 -30.221 121.383 -31.325 120.279 C -32.599 119.005 -34.372 120.279 -35.376 120.279" />
                <path d="M -43.166 131.809 C -49.204 138.709 -42.901 133.99 -40.05 133.99" />
                <path d="M -31.948 136.483 C -31.349 137.083 -27.274 141.237 -27.274 142.716 C -30.462 139.288 -33.993 143.271 -35.999 144.274 C -41.836 147.192 -48.845 142.375 -52.827 137.73 C -53.979 135.454 -55.142 140.534 -56.566 140.534" />
                <path d="M -52.203 111.242 C -52.203 105.888 -52.515 100.948 -52.515 95.661 C -52.515 94.169 -53.425 91.274 -52.515 90.364 C -51.943 89.792 -44.131 92.234 -42.232 92.234 C -37.853 92.234 -31.356 89.102 -26.962 91.299 C -26.274 91.643 -25.391 94.09 -26.027 94.727 C -27.624 96.323 -26.651 101.48 -26.651 103.763 C -26.651 104.93 -26.027 109.395 -26.027 107.503" />
                <path d="M -43.166 231.527 C -45.215 233.576 -46.325 235.451 -45.348 238.383 C -44.459 241.049 -40.83 243.213 -38.492 240.876 C -34.201 236.584 -37.947 226.62 -44.101 232.773" />
                <path d="M -45.659 259.573 C -49.583 263.496 -44.805 272.43 -40.673 268.298 C -39.878 267.503 -40.05 265.61 -40.05 264.559 C -40.05 262.692 -40.457 259.021 -42.543 258.326 C -44.158 257.788 -47.841 260.003 -47.841 260.819" />
                <path d="M -45.659 286.06 C -53.535 285.076 -47.363 299.221 -43.478 297.278 C -39.854 295.466 -37.528 288.412 -42.232 286.06 C -43.94 285.206 -48.033 286.179 -46.594 287.618" />
                <path d="M -41.297 167.645 C -42.271 168.481 -46.746 173.023 -43.166 174.812 C -40.692 176.05 -36.3 170.623 -37.869 168.268 C -38.426 167.433 -42.232 166.095 -42.232 167.645" />
                <path d="M -42.855 191.64 C -44.033 193.407 -45.769 198.597 -42.855 200.054 C -42.041 200.461 -40.618 199.319 -40.362 198.807 C -38.56 195.203 -42.855 192.223 -42.855 194.444" />
                <path d="M -2.968 171.073 C 5.038 167.642 13.191 160.723 21.65 158.608 C 25.042 157.76 31.689 157.606 34.115 155.18 C 32.868 154.311 35.78 149.152 37.231 147.702" />
                <path d="M 33.18 157.362 C 33.567 157.62 40.036 162.07 40.036 162.971" />
                <path d="M -64.668 315.041 C -66.027 316.399 -69.764 318.688 -70.589 320.338" />
                <path d="M -60.617 315.041 C -60.168 317.061 -58.747 318.892 -58.747 320.961" />
                <path d="M -54.073 315.352 C -53.247 316.179 -50.334 320.146 -50.334 320.338" />
                <path d="M -25.404 319.092 C -26.352 319.092 -21.767 311.94 -20.418 310.366 C -17.583 308.497 -14.63 314.285 -13.563 315.352" />
                <path d="M -12.316 305.38 C -15.535 310.208 -2.344 311.973 -2.344 310.366" />
                <path d="M -74.951 172.631 C -81.019 174.365 -91.654 174.143 -97.7 172.631 C -99.084 172.285 -104.867 172.517 -104.867 174.189 C -106.737 177.074 -108.276 178.495 -108.606 179.487 C -108.704 179.78 -109.496 182.915 -109.853 182.915 C -110.06 182.915 -109.76 182.105 -109.853 182.291" />
                <path d="M -113.281 164.217 C -111.059 166.439 -109.406 169.928 -107.048 171.696 C -106.127 172.387 -103.62 173.435 -103.62 174.501" />
            </g>
        </g>
    </a>
    <a asp-page="SnowmanForest" asp-route-tree="4" asp-route-guess="@guess">
        <g>
            <title>Snowman5</title>
            <path d="M 412.113 -35.623 C 406.628 -36.994 403.563 -31.846 399.155 -29.642 C 397.469 -28.799 395.541 -26.03 394.918 -24.159 C 392.614 -17.247 388.49 -9.053 391.18 -0.982 C 392.908 4.202 395.766 10.216 400.65 13.472 C 404.201 15.839 408.709 17.128 412.363 18.954 C 414.803 20.175 420.82 19.585 423.079 18.456 C 426.466 16.762 430.584 16.074 434.293 14.219 C 436.351 13.191 438.17 11.09 439.776 9.484 C 444.634 4.626 451.817 -3.735 449.246 -11.449 C 447.993 -15.209 447.261 -18.409 445.508 -21.916 C 440.445 -32.041 430.973 -33.878 420.587 -33.878 C 418.492 -33.878 414.116 -35.378 412.113 -34.377 C 411.382 -34.011 410.689 -33.38 409.871 -33.38" />
            <path d="M 392.177 5.995 C 388.573 8.998 386.694 12.489 386.694 17.459 C 386.694 18.719 386.142 20.895 387.192 21.945 C 389.518 24.271 392.838 26.817 396.912 28.175 C 404.65 30.755 413.281 34.156 422.082 34.156 C 423.374 34.156 429.114 35.348 430.057 34.406 C 431.109 33.353 434.145 33.234 435.789 32.412 C 438.698 30.957 441.333 29.391 444.262 27.926 C 450.754 24.68 453.997 16.181 456.473 11.229 C 456.924 10.327 456.09 8.719 455.725 7.989 C 454.022 4.582 452.007 1.759 447.501 1.759" />
            <path d="M 385.697 23.939 C 384.193 26.195 384.503 30.874 385.199 33.658 C 385.872 36.351 384.298 39.428 385.199 42.131 C 386.638 46.448 386.196 52.925 386.196 57.582 C 386.196 60.255 385.697 62.822 385.697 65.557 C 385.697 65.994 385.419 68.02 385.697 68.298 C 386.295 68.896 388.768 68.632 389.435 68.298 C 391.539 67.246 396.756 68.049 399.155 68.049 C 399.84 68.049 403.095 68.346 403.142 68.298 C 403.973 67.467 403.564 65.366 403.89 64.062 C 405.313 58.367 400.999 52.048 402.893 46.368 C 404.067 42.845 402.893 37.96 402.893 34.406 C 402.893 33.206 403.401 30.667 402.893 30.667" />
            <path d="M 384.949 71.04 C 384.404 73.223 384.202 75.807 384.202 78.017 C 384.202 78.926 383.253 81.459 383.953 80.759" />
            <path d="M 394.669 70.541 C 394.836 71.714 394.669 73.518 394.669 74.279" />
            <path d="M 402.394 71.04 C 402.394 76.099 402.893 82.97 402.893 86.989" />
            <path d="M 382.208 32.163 C 355.765 49.791 349.302 84.605 367.006 111.163 C 369.269 114.557 373.73 115.893 376.476 118.639 C 380.65 122.813 386.902 126.167 392.675 127.61 C 396.564 128.583 400.299 130.916 404.388 131.598 C 416.082 133.547 429.279 133.163 440.524 130.352 C 445.353 129.144 449.982 125.957 454.23 123.125 C 463.707 116.807 473.393 110.495 477.158 99.2 C 478.709 94.546 478.939 89.333 480.148 84.497 C 481.399 79.495 482.858 71.942 481.145 66.803 C 479.192 60.943 477.884 54.875 475.413 49.109 C 473.635 44.961 470.856 41.491 468.934 37.645 C 467.767 35.313 463.189 32.399 461.956 31.166 C 460.098 29.308 456.686 28.637 454.978 26.929 C 454.481 26.432 451.289 26.829 450.492 26.431 C 449.662 26.016 446.006 24.683 446.006 26.182" />
            <path d="M 447.003 67.301 C 454.687 62.412 461.74 55.732 469.432 50.604 C 471.962 48.918 474.404 46.04 477.158 45.122 C 478.82 44.567 480.966 41.563 482.142 40.387 C 484.542 37.987 487.323 36.268 490.117 34.406 C 494.395 31.553 495.35 28.779 495.35 23.191 C 495.35 21.19 494.852 15.705 494.852 15.715" />
            <path d="M 495.599 28.923 C 495.184 29.338 494.679 29.68 494.353 30.169 C 494.27 30.294 498.98 32.293 499.337 32.412 C 500.576 32.825 506.315 36.489 506.315 34.904" />
            <path d="M 363.767 67.551 C 359.66 64.813 356.483 60.766 353.05 57.333 C 352.193 56.476 350.801 54.008 349.561 53.595 C 346.508 52.577 344.104 49.129 341.587 47.115 C 335.013 41.856 327.301 34.325 322.647 29.67 C 320.543 27.567 322.194 19.268 322.896 16.462 C 323.078 15.735 324.494 11.727 324.142 11.727" />
            <path d="M 319.407 30.418 C 315.579 30.418 311.898 31.415 308.192 31.415 C 307.013 31.415 304.953 32.572 304.953 30.917" />
            <path d="M 404.139 -23.411 C 402.474 -23.174 399.59 -19.736 401.647 -17.68 C 403.95 -15.376 408.628 -15.69 410.867 -17.929 C 414.566 -21.628 406.954 -27.722 403.142 -23.91" />
            <path d="M 426.069 -24.408 C 425.074 -24.298 423.362 -24.442 422.58 -23.661 C 421.782 -22.863 421.558 -22.287 421.334 -21.169 C 419.558 -12.289 433.925 -18.546 429.807 -22.664 C 429.237 -23.234 427.984 -24.465 427.066 -24.159 C 426.405 -23.939 424.325 -22.705 424.325 -23.91" />
            <path d="M 387.94 -40.109 C 391.718 -37.59 397.521 -36.467 401.896 -35.374 C 404.886 -34.626 408.428 -36.104 411.366 -35.124 C 413.427 -34.437 415.668 -36.349 417.845 -35.623 C 420.472 -34.747 427.253 -34.595 429.807 -35.872 C 430.857 -36.397 432.815 -35.623 433.795 -35.623 C 436.214 -35.623 442.575 -35.777 444.76 -36.869 C 447.027 -38.002 452.278 -39.361 454.729 -39.361" />
            <path d="M 398.407 -36.37 C 397.813 -41.118 399.909 -45.611 401.397 -50.077 C 404.94 -60.705 412.442 -66.109 423.079 -68.768 C 424.652 -69.161 427.929 -67.848 429.558 -67.522 C 439.268 -65.58 442.123 -55.6 445.757 -48.333 C 446.544 -46.759 446.505 -43.164 446.505 -41.355 C 446.505 -40.661 446.006 -37.664 446.006 -38.613" />
            <path d="M 433.546 -2.229 C 433.546 -0.107 431.175 0.681 429.558 1.759 C 424.962 4.823 415.927 9.896 409.621 6.743 C 405.212 4.538 402.874 0.494 399.404 -2.976 C 399.653 -4.413 395.218 -1.033 394.419 -0.235" />
            <path d="M 430.555 -5.468 C 431.083 -4.941 435.04 0.513 435.539 0.513" />
            <path d="M 415.353 -8.708 C 414.292 -8.708 406.631 -8.75 406.631 -8.21 C 406.631 -6.343 412.861 -5.189 412.861 -3.973" />
            <path d="M 419.59 55.588 C 418.995 55.721 417.588 55.843 416.848 56.336 C 411.34 60.009 420.469 67.726 423.577 63.065 C 425.327 60.44 425.157 55.788 422.331 54.093 C 421.681 53.703 419.506 51.436 418.593 52.349 C 417.772 53.17 416.734 54.208 415.852 55.09" />
            <path d="M 418.593 80.26 C 413.631 79.64 411.586 87.81 416.599 89.481 C 419.258 90.367 423.079 86.775 423.079 84.248 C 423.079 81.604 418.312 80.011 416.35 80.011" />
            <path d="M 413.609 106.178 C 409.386 105.575 408.259 113.781 412.612 114.652 C 416.211 115.371 417.938 110.849 416.599 108.172 C 415.242 105.457 412.351 107.175 410.618 107.175" />
        </g>
    </a>
    <a asp-page="SnowmanForest" asp-route-tree="5" asp-route-guess="@guess">
        <g>
            <title>Snowman6</title>
            <g>
                <path d="M 519.115 -184.248 C 513.537 -183.551 508.911 -183.088 504.133 -180.7 C 488.707 -172.987 483.993 -152.019 489.151 -136.543 C 490.555 -132.333 491.081 -128.346 493.094 -124.32 C 496.456 -117.596 509.274 -109.244 517.538 -111.31 C 522.491 -112.548 529.31 -111.291 534.097 -112.887 C 539.725 -114.763 544.62 -116.571 549.868 -119.195 C 554.308 -121.415 557.676 -128.109 559.724 -132.206 C 566.447 -145.651 569.552 -159.327 561.696 -172.42 C 559.883 -175.442 557.199 -179.794 553.81 -181.488 C 546.513 -185.137 535.95 -189.597 527.001 -186.614 C 526.11 -186.317 522.564 -188.091 521.481 -187.008 C 520.876 -186.403 516.722 -183.854 515.567 -183.854" />
                <path d="M 517.144 -235.108 C 499.427 -233.139 491.191 -203.894 504.133 -190.951 C 511.128 -183.956 531.3 -183.835 540.011 -188.191 C 548.648 -192.51 555.25 -205.95 551.445 -217.366 C 549.942 -221.873 546.801 -224.288 544.742 -228.405 C 541.865 -234.16 529.022 -238.262 523.452 -238.262 C 520.256 -238.262 512.947 -235.502 514.384 -235.502" />
                <path d="M 517.538 -265.466 C 509.395 -262.412 507.729 -261.618 504.133 -254.427 C 499.577 -245.313 510.21 -238.969 515.567 -236.291 C 516.557 -235.795 519.047 -234.877 520.298 -235.502 C 523.987 -237.346 530.211 -237.924 533.309 -241.022 C 534.678 -242.392 535.775 -244.378 536.463 -245.753 C 543.791 -260.41 524.894 -265.466 513.201 -265.466" />
                <path d="M 500.297 -273.87 C 502.119 -271.717 504.154 -269.046 506.762 -268.177 C 513.879 -265.805 523.946 -265.241 530.691 -270.3 C 531.654 -271.023 533.085 -271.142 534.068 -271.844 C 536.12 -273.31 537.545 -275.323 538.892 -277.344 C 539.355 -278.037 540.629 -279.19 540.629 -279.66" />
                <path d="M 510.042 -268.853 C 508.948 -269.322 509.033 -270.357 508.788 -271.458 C 508.28 -273.741 507.886 -276.003 507.63 -278.309 C 506.877 -285.081 507.179 -293.341 511.779 -298.861 C 513.78 -301.262 517.498 -305.174 521.138 -304.264 C 522.203 -303.998 522.984 -303.195 523.937 -302.624 C 524.763 -302.128 525.357 -301.265 525.866 -300.501 C 526.587 -299.42 527.446 -298.14 527.796 -296.738 C 528.156 -295.301 528.976 -294.047 529.34 -292.589 C 529.836 -290.607 530.203 -288.658 530.691 -286.703 C 531.809 -282.228 531.945 -277.693 531.945 -273.098" />
                <path d="M 512.165 -257.756 C 508.749 -256.293 512.609 -251.128 515.639 -252.643 C 515.994 -252.82 516.692 -253.012 516.893 -253.414 C 517.959 -255.545 517.15 -258.351 515.06 -259.397 C 514 -259.927 511.49 -258.957 511.49 -257.853" />
                <path d="M 523.647 -259.879 C 520.16 -259.492 521.277 -253.57 524.902 -254.476 C 526.436 -254.859 529.401 -257.298 527.121 -258.818 C 525.67 -259.785 524.403 -259.493 523.068 -259.493" />
                <path d="M 511.683 -246.467 C 513.358 -244.792 515.668 -243.803 517.954 -243.476 C 519.169 -243.303 520.107 -242.633 521.428 -242.897 C 523.048 -243.221 524.273 -244.135 525.77 -244.634 C 526.588 -244.907 528.782 -245.93 529.147 -246.66 C 529.274 -246.915 528.954 -247.244 528.954 -247.432" />
                <path d="M 519.788 -250.52 C 520.461 -250.183 522.107 -249.072 522.779 -249.072" />
                <path d="M 510.525 -230.547 C 513.984 -228.385 516.133 -225.034 518.919 -222.249 C 519.924 -221.244 522.071 -220.769 522.682 -219.547 C 523.222 -218.467 522.935 -216.691 523.068 -215.494 C 523.27 -213.675 523.251 -211.82 523.454 -209.994 C 524.058 -204.558 524.005 -198.971 524.902 -193.591 C 525.115 -192.309 525.288 -190.859 525.288 -189.539 C 525.288 -189.318 525.443 -188.247 525.288 -188.091 C 525.135 -187.939 524.998 -187.728 524.998 -187.512" />
                <path d="M 522.779 -220.319 C 525.556 -221.906 528.103 -223.632 530.594 -225.626 C 532.122 -226.847 533.191 -228.483 534.84 -229.582 C 535.85 -230.255 537.26 -232.38 538.314 -232.38" />
                <path d="M 532.621 -215.784 C 532.802 -213.973 533.296 -212.095 533.296 -210.284 C 533.296 -209.633 533.192 -207.976 533.586 -207.582 C 534.493 -206.675 538.057 -207.88 539.182 -208.161 C 539.613 -208.269 540.815 -208.043 541.015 -208.644 C 541.249 -209.345 540.839 -210.667 540.726 -211.345 C 540.475 -212.847 540.629 -214.294 540.629 -215.784 C 540.629 -216.15 541.028 -217.659 540.533 -217.907 C 540.118 -218.114 539.239 -217.8 538.892 -217.714 C 537.291 -217.313 535.593 -217.173 534.164 -216.459 C 533.483 -216.119 531.654 -215.108 531.945 -215.108" />
                <path d="M 522.103 -176.416 C 518.45 -175.373 517.887 -170.802 520.27 -168.022 C 520.858 -167.336 521.539 -166.378 522.489 -166.188 C 523.468 -165.993 524.814 -166.377 525.673 -166.767 C 531.219 -169.288 526.799 -178.399 521.138 -176.513 C 520.758 -176.386 520.905 -175.99 520.753 -175.837" />
                <path d="M 522.007 -150.943 C 520.842 -150.555 520.244 -150.347 519.498 -149.303 C 518.809 -148.338 519.004 -146.831 518.919 -145.733 C 518.712 -143.04 520.102 -139.72 523.454 -140.329 C 526.544 -140.891 527.722 -145.598 526.252 -148.048 C 525.003 -150.132 523.121 -150.654 521.042 -150.654" />
                <path d="M 522.007 -131.452 C 520.915 -130.482 520.06 -129.937 519.691 -128.461 C 518.817 -124.965 521.882 -118.219 526.156 -120.356 C 527.768 -121.162 527.991 -123.127 527.893 -124.698 C 527.68 -128.096 526.026 -131.066 522.296 -131.066" />
                <path d="M 549.699 -220.994 C 553.368 -223.287 557.398 -225.243 560.892 -228.038 C 564.8 -231.164 569.01 -233.893 573.243 -236.432 C 574.6 -237.247 575.765 -238.321 577.199 -239.038 C 577.804 -239.34 578.728 -239.32 579.128 -239.52 C 580.087 -239.999 580.408 -243.747 580.576 -244.923 C 580.622 -245.245 580.772 -246.95 581.155 -246.95" />
                <path d="M 579.514 -238.941 C 580.919 -238.293 582.366 -237.191 583.856 -236.818 C 584.418 -236.678 586.447 -236.514 586.269 -236.336" />
                <path d="M 496.727 -217.328 C 493.971 -217.328 491.094 -217.189 488.332 -217.328 C 485.915 -217.448 483.321 -217.789 480.903 -217.521 C 479.25 -217.337 477.526 -217.215 475.885 -216.942 C 475.552 -216.886 474.805 -216.767 474.534 -217.038 C 474.427 -217.145 474.534 -218.098 474.534 -218.196 C 474.534 -219.445 474.323 -220.708 474.245 -221.959 C 473.988 -226.069 473.473 -230.176 473.473 -234.31 C 473.473 -234.613 473.754 -236.924 473.473 -237.204 C 473.425 -237.252 472.95 -237.702 472.99 -237.783 C 473.94 -239.682 476.452 -240.762 477.911 -242.222 C 478.242 -242.552 479.5 -243.766 478.394 -243.766" />
                <path d="M 472.026 -238.266 C 470.127 -238.456 468.554 -239.841 467.008 -240.871 C 466.527 -241.192 465.754 -241.935 465.754 -242.222" />
            </g>
        </g>
    </a>
    <a asp-page="SnowmanForest" asp-route-tree="6" asp-route-guess="@guess">
        <g>
            <title>Snowman7</title>
            <path d="M 62.968 -216.394 C 56.155 -217.367 48.842 -209.039 51.18 -202.027 C 53.691 -194.493 55.845 -188.725 64.441 -187.292 C 66.862 -186.888 68.952 -188.068 71.256 -188.397 C 81.763 -189.898 85.706 -202.413 81.571 -210.684 C 78.965 -215.896 72.933 -215.835 68.494 -217.315 C 67.425 -217.671 64.633 -218.055 63.52 -217.499 C 62.605 -217.041 60.553 -216.394 60.205 -216.394" />
            <path d="M 50.259 -197.422 C 49.16 -196.14 45.838 -192.081 45.838 -190.976 C 45.838 -188.022 48.931 -186.816 50.074 -184.529 C 51.55 -181.579 55.532 -180.143 58.179 -178.819 C 59.114 -178.352 60.496 -178.673 61.31 -178.267 C 62.209 -177.817 64.606 -177.244 65.546 -177.714 C 67.046 -178.464 69.128 -177.11 70.704 -177.898 C 71.6 -178.346 73.119 -177.632 74.019 -178.082 C 76.331 -179.238 79.316 -179.142 81.203 -181.029 C 82.979 -182.806 86.696 -186.539 88.57 -187.476 C 88.839 -187.61 90.413 -189.317 90.044 -189.686 C 88.661 -191.069 86.884 -192.846 85.255 -194.475" />
            <path d="M 44.917 -188.581 C 44.462 -185.395 44.917 -182.134 44.917 -179.003 C 44.917 -177.544 44.665 -175.271 45.286 -174.03 C 46.236 -172.13 45.143 -169.117 45.838 -167.031 C 46.625 -164.67 45.468 -161.875 46.943 -160.4 C 47.622 -159.722 51.181 -160.953 51.916 -160.953 C 52.701 -160.953 57.145 -161.024 57.626 -161.505 C 59.219 -163.098 58.528 -169.727 58.179 -171.82 C 57.872 -173.659 57.62 -175.537 57.258 -177.346 C 57.184 -177.715 56.337 -180.029 56.337 -179.187" />
            <path d="M 48.233 -159.295 C 48.085 -157.372 48.048 -155.507 48.048 -153.585" />
            <path d="M 53.022 -158.558 C 53.022 -157.366 53.206 -154.164 53.206 -153.585" />
            <path d="M 57.81 -160.216 C 58.936 -156.84 59.468 -152.273 59.468 -149.164" />
            <path d="M 85.623 -183.24 C 89.434 -179.973 92.303 -176.278 93.912 -171.451 C 94.421 -169.925 95.185 -168.386 95.57 -166.847 C 95.926 -165.421 95.664 -163.526 96.306 -162.242 C 97.825 -159.205 94.277 -155.789 93.175 -153.585 C 92.146 -151.526 88.898 -149.826 86.913 -149.164 C 83.341 -147.974 80.262 -146.25 76.414 -145.481 C 73.827 -144.963 70.975 -145.364 68.494 -144.744 C 62.405 -143.222 57.816 -143.391 52.101 -145.296 C 50.728 -145.754 47.718 -146.18 46.575 -147.322 C 41.54 -152.357 39.298 -162.885 44.365 -167.952" />
            <path d="M 43.075 -147.691 C 36.196 -145.111 33.574 -138.867 32.208 -132.035 C 30.159 -121.791 33.542 -111.001 41.786 -104.406 C 52.813 -95.584 67.682 -98.317 80.65 -100.17 C 92.336 -101.839 104.305 -108.194 108.831 -119.51 C 110.006 -122.447 110.29 -125.347 111.042 -128.351 C 112.041 -132.349 109.896 -138.603 108.647 -142.349 C 107.035 -147.185 103.174 -150.796 98.701 -153.032 C 98.057 -153.354 94.666 -153.787 94.464 -153.585" />
            <path d="M 67.204 -170.899 C 63.911 -171.84 63.811 -164.38 67.204 -163.531 C 69.7 -162.907 72.434 -166.334 71.256 -168.689 C 70.433 -170.336 68.982 -170.531 67.204 -170.531" />
            <path d="M 68.309 -155.243 C 64.505 -155.243 64.925 -148.612 68.309 -148.612 C 70.821 -148.612 71.96 -152.731 71.072 -154.506 C 70.693 -155.265 68.678 -156.23 68.678 -154.874" />
            <path d="M 69.414 -136.271 C 63.739 -138.4 65.499 -127.925 69.414 -128.903 C 69.949 -129.037 70.987 -129.646 71.441 -130.009 C 73.684 -131.803 73.453 -134.627 71.441 -136.639 C 69.839 -138.241 68.309 -137.731 68.309 -135.718" />
            <path d="M 68.125 -114.168 C 63.635 -115.665 62.795 -109.364 64.994 -106.616 C 65.605 -105.853 66.638 -104.156 67.941 -104.59 C 73.868 -106.566 69.595 -117.296 65.178 -112.879" />
            <path d="M 84.518 -169.425 C 90.454 -169.425 96.586 -175.728 100.911 -179.187 C 102.896 -180.775 105.74 -180.373 106.805 -182.503 C 108.296 -185.485 108.734 -191.247 110.857 -193.37" />
            <path d="M 107.91 -181.95 C 109.536 -180.867 111.161 -180.306 113.068 -179.924 C 113.651 -179.807 115.094 -179.564 115.094 -179.556" />
            <path d="M 40.497 -164.268 C 38.836 -162.331 36.324 -161.479 34.05 -160.216 C 30.619 -158.31 27.584 -155.694 24.104 -153.953 C 22.511 -153.157 22.298 -151.227 21.525 -150.454 C 20.99 -149.919 18.765 -151.051 18.21 -151.19 C 15.806 -151.791 11.332 -152.664 10.105 -152.664" />
            <path d="M 21.341 -148.98 C 20.243 -147.003 20.051 -144.067 20.051 -142.534" />
            <path d="M 59.652 -193.739 C 61.086 -196.605 65.969 -199.619 69.599 -198.712 C 70.759 -198.422 70.865 -197.342 71.809 -196.87 C 72.519 -196.514 73.098 -195.101 73.098 -195.028" />
            <path d="M 59.652 -209.579 C 59.1 -209.106 58.412 -208.805 58.179 -208.105 C 57.697 -206.659 59.218 -203.467 61.126 -204.422 C 63.923 -205.82 62.79 -208.099 60.942 -209.947 C 60.374 -210.515 59.364 -209.026 59.284 -209.026" />
            <path d="M 69.23 -211.052 C 67.772 -210.011 67.341 -209.621 66.836 -208.105 C 66.243 -206.328 68.791 -204.57 70.335 -205.343 C 72.159 -206.254 73.236 -209.418 71.072 -210.5 C 70.1 -210.986 69.657 -210.316 69.046 -210.316" />
            <path d="M 64.073 -202.211 C 63.277 -201.503 62.523 -200.661 61.863 -200.001" />
        </g>
    </a>
    <a asp-page="SnowmanForest" asp-route-tree="7" asp-route-guess="@guess">
        <g>
            <title>Snowman8</title>
            <path d="M 271.642 -275.782 C 266.659 -277.206 261.168 -275.14 256.937 -273.025 C 238.071 -263.593 230.428 -245.405 227.066 -225.232 C 225.34 -214.877 225.178 -198.882 231.202 -189.846 C 244.416 -170.025 269.551 -165.768 291.863 -168.247 C 299.142 -169.056 305.607 -169.609 312.543 -172.383 C 327.428 -178.337 334.575 -192.322 341.265 -205.701 C 342.679 -208.529 344.078 -211.955 344.711 -215.122 C 345.567 -219.4 345.84 -223.736 346.549 -227.989 C 347.536 -233.91 345.208 -240.172 344.252 -245.912 C 342.95 -253.722 339.02 -259.618 334.831 -265.902 C 333.508 -267.886 331.751 -270.559 329.776 -271.876 C 318.642 -279.299 300.098 -285.114 286.578 -280.608 C 284.786 -280.01 282.396 -281.205 280.604 -280.608 C 274.283 -278.5 269.383 -279.498 264.519 -274.634" />
            <path d="M 249.124 -363.557 C 262.747 -357.718 278.647 -357.438 293.931 -361.259 C 299.281 -362.597 305.673 -362.806 310.245 -365.855 C 314.516 -368.702 320.154 -370.249 323.572 -373.667 C 324.058 -374.153 327.478 -375.364 327.478 -375.505" />
            <path d="M 283.131 -280.838 C 282.862 -280.568 277.013 -280.106 275.549 -280.838 C 274.182 -281.521 271.849 -280.964 270.264 -281.757 C 265.432 -284.172 257.666 -287.421 255.099 -292.556 C 254.282 -294.19 252.287 -295.421 251.422 -297.152 C 250.065 -299.866 248.945 -302.516 247.976 -305.424 C 243.603 -318.541 246.95 -332.907 250.963 -344.945 C 252.524 -349.629 256.793 -356.286 261.073 -358.731 C 260.383 -370.038 255.781 -381.917 259.005 -391.589 C 260.037 -394.688 258.155 -397.173 260.383 -399.402 C 263.046 -402.065 266.084 -401.685 269.574 -402.848 C 271.679 -403.55 273.603 -404.602 275.778 -405.146 C 276.898 -405.426 278.975 -405.125 279.685 -405.836 C 280.108 -406.259 281.834 -405.863 282.442 -406.065 C 284.281 -406.678 286.548 -406.625 288.186 -407.444 C 291.166 -408.934 295.971 -406.856 298.986 -408.363 C 301.749 -409.744 306.038 -409.512 309.326 -409.512 C 310.241 -409.512 311.278 -410.489 312.313 -409.971 C 314.305 -408.975 314.151 -402.336 314.151 -400.091 C 314.151 -391.378 313.67 -380.287 310.015 -372.978 C 309.458 -371.864 309.982 -369.498 309.096 -368.612" />
            <path d="M 307.028 -279.689 C 309.41 -280.165 312.282 -280.478 314.381 -281.527 C 320.949 -284.811 324.941 -296.882 326.559 -303.356 C 330.635 -319.662 332.345 -336.78 327.018 -352.757 C 325.048 -358.667 317.571 -360.137 314.151 -363.557 C 312.808 -364.9 310.031 -362.851 308.866 -364.016" />
            <path d="M 266.358 -343.566 C 259.833 -342.751 259.881 -335.045 263.141 -330.699 C 266.312 -326.471 272.128 -327.15 276.008 -329.09 C 276.752 -329.462 277.636 -331.188 278.076 -331.848 C 281.86 -337.523 277.831 -343.574 272.332 -346.324 C 269.467 -347.756 263.565 -341.958 264.519 -341.958" />
            <path d="M 306.339 -348.162 C 299.276 -350.81 295.092 -337.205 302.203 -334.835 C 306.391 -333.439 310.831 -336.363 312.083 -340.12 C 312.585 -341.626 314.596 -343.703 313.462 -345.405 C 311.045 -349.029 306.427 -348.162 302.892 -348.162" />
            <path d="M 285.889 -325.414 C 282.82 -322.857 279.265 -319.92 276.468 -318.521 C 274.857 -317.715 271.562 -315.683 270.494 -314.615 C 268.413 -312.534 265.716 -312.412 264.29 -309.559 C 262.776 -306.532 270.269 -308.875 271.183 -309.789 C 274.595 -313.202 281.44 -314.302 284.74 -317.602 C 286.048 -318.91 290.714 -319.969 290.714 -321.508" />
            <path d="M 263.83 -298.99 C 271.101 -290.68 286.261 -291.072 295.539 -294.165 C 297.652 -294.869 300.139 -294.765 302.203 -296.003 C 305.649 -298.07 308.462 -301.094 311.853 -303.356 C 312.956 -304.091 314.953 -305.311 314.151 -306.113" />
            <path d="M 309.785 -310.249 C 311.498 -308.822 314.817 -305.931 315.759 -304.045 C 316.182 -303.2 316.994 -301.288 317.827 -301.288" />
            <path d="M 257.856 -295.084 C 260.016 -297.604 264.201 -298.813 265.668 -301.747" />
            <path d="M 286.578 -264.294 C 278.907 -260.884 283.454 -247.438 291.633 -252.345 C 299.308 -256.951 289.514 -267.46 284.51 -262.455" />
            <path d="M 285.429 -230.287 C 278.188 -230.287 281.767 -215.13 289.795 -219.947 C 294.633 -222.85 287.302 -232.85 283.591 -229.138" />
            <path d="M 280.374 -197.659 C 276.825 -194.702 277.038 -184.17 283.591 -185.481 C 288.787 -186.52 290.9 -193.889 285.659 -196.51 C 285.009 -196.834 281.384 -197.98 280.604 -197.199 C 280.257 -196.852 280.175 -196.05 279.685 -196.05" />
            <path d="M 324.031 -243.614 C 333.431 -242.271 339.381 -249.726 347.928 -252.575 C 353.175 -254.324 358.573 -258.568 364.012 -259.928 C 367.686 -260.846 370.82 -263.01 374.352 -264.523 C 379.617 -266.78 385.022 -268.71 389.977 -271.187 C 393.647 -273.022 392.117 -280.523 393.883 -284.054 C 394.356 -285.001 393.323 -286.941 394.113 -287.731 C 394.284 -287.902 394.171 -287.213 394.343 -287.041" />
            <path d="M 391.126 -270.957 C 392.496 -270.114 401.006 -266.485 401.006 -265.443" />
            <path d="M 234.419 -252.575 C 227.021 -262.439 220.499 -275.686 212.36 -283.825 C 212.068 -284.117 213.455 -288.606 213.509 -288.88 C 214.485 -293.758 215.807 -298.648 215.807 -303.356" />
            <path d="M 209.603 -283.365 C 203.089 -283.365 196.536 -284.05 190.072 -284.973 C 189.551 -285.048 184.787 -284.744 184.787 -284.744 C 184.787 -284.744 185.4 -285.356 185.706 -285.663" />
        </g>
    </a>
    <a asp-page="SnowmanForest" asp-route-tree="8" asp-route-guess="@guess">
        <g>
            <title>Snowman9</title>
            <g>
                <path d="M -154.058 -103.526 C -167.08 -104.973 -170.559 -84.671 -165.35 -74.251 C -162.106 -67.764 -157.823 -65.887 -151.967 -62.959 C -150.649 -62.3 -145.467 -62.863 -144.439 -63.377 C -142.93 -64.132 -140.561 -63.434 -139.002 -64.214 C -130.274 -68.578 -117.481 -78.886 -123.528 -90.98 C -125.285 -94.496 -124.795 -100.814 -129.383 -103.108 C -134.322 -105.578 -147.618 -110.092 -154.058 -106.872 C -155.584 -106.109 -160.683 -101.854 -161.167 -101.854" />
                <path d="M -168.277 -72.578 C -170.155 -70.074 -172.606 -66.849 -173.714 -64.632 C -174.031 -63.998 -170.118 -60.618 -169.95 -60.45 C -166.787 -57.287 -161.112 -52.206 -155.731 -50.413 C -153.26 -49.589 -150.285 -49.99 -147.784 -48.74 C -146.281 -47.988 -143.194 -49.362 -141.929 -49.994 C -135.792 -53.063 -128.235 -52.868 -122.273 -55.849 C -119.375 -57.299 -114.763 -61.669 -113.49 -64.214 C -112.114 -66.966 -120.128 -74.669 -123.109 -74.669" />
                <path d="M -177.06 -59.613 C -177.06 -51.172 -177.546 -39.744 -174.969 -32.011 C -174.161 -29.588 -175.38 -26.149 -173.714 -24.483 C -172.232 -23.001 -161.515 -24.136 -160.331 -25.319 C -159.52 -26.13 -160.346 -32.041 -160.749 -32.847 C -161.293 -33.936 -159.927 -37.044 -160.749 -37.866 C -162.543 -39.659 -162.004 -49.865 -162.004 -52.922" />
                <path d="M -174.55 -21.974 C -174.399 -20.762 -172.989 -14.752 -174.132 -13.609" />
                <path d="M -168.695 -21.137 C -168.597 -20.451 -167.859 -16.177 -167.859 -15.7" />
                <path d="M -162.004 -23.647 C -161.394 -21.207 -160.331 -18.04 -160.331 -15.7" />
                <path d="M -180.405 -48.321 C -188.607 -38.753 -191.537 -24.838 -187.515 -12.773 C -185.307 -6.149 -184.227 2.961 -176.223 5.629 C -153.329 13.26 -122.83 10.786 -105.126 -6.918 C -90.768 -21.276 -99.147 -56.686 -120.182 -56.686" />
                <path d="M -183.333 7.72 C -199.963 9.568 -199.481 35.136 -196.298 47.869 C -194.611 54.615 -191.768 60.623 -189.606 67.107 C -188.503 70.417 -182.553 75.313 -179.569 76.308 C -168.754 79.913 -160.063 83.373 -147.784 81.326 C -125.456 77.605 -97.346 64.93 -87.143 44.523 C -84.929 40.095 -81.968 31.609 -83.797 26.122 C -87.216 15.863 -93.805 3.966 -103.871 0.61 C -106.223 -0.174 -110.138 -1.487 -111.817 0.192" />
                <path d="M -146.53 -37.448 C -148.918 -35.401 -153.113 -25.137 -145.693 -26.992 C -139.112 -28.638 -139.63 -34.73 -143.184 -38.284 C -144.629 -39.729 -146.984 -37.866 -148.621 -37.866" />
                <path d="M -150.294 -14.027 C -153.102 -11.219 -156.044 0.061 -148.203 -1.899 C -144.63 -2.792 -140.954 -10.612 -145.275 -12.773 C -147.635 -13.953 -149.019 -12.773 -150.712 -12.773" />
                <path d="M -152.385 23.194 C -157.269 25.026 -157.793 36.237 -151.13 34.904 C -146.389 33.956 -141.106 26.742 -147.366 23.612 C -149.924 22.333 -152.737 23.612 -154.058 23.612" />
                <path d="M -154.476 49.96 C -160.183 53.765 -159.904 56.047 -157.822 61.252 C -156.961 63.402 -154.02 67.652 -151.13 66.689 C -146.859 65.265 -146.278 56.15 -150.294 54.142 C -151.241 53.668 -154.476 51.885 -154.476 53.724" />
                <path d="M -118.091 -30.756 C -103.58 -37.206 -88.473 -47.447 -75.851 -53.758 C -71.561 -55.903 -75.558 -70.487 -71.25 -70.487" />
                <path d="M -74.178 -53.758 C -70.805 -49.963 -67.641 -46.385 -64.559 -43.303" />
                <path d="M -184.588 -28.665 C -196.913 -23.735 -213.506 -16.057 -221.809 -7.754 C -222.527 -7.037 -225.299 -8.172 -225.991 -8.172 C -229.09 -8.172 -247.009 -10.264 -239.374 -10.264" />
                <path d="M -223.9 -5.663 C -224.247 -2.541 -224.918 4.011 -223.482 6.883" />
                <path d="M -157.403 -95.162 C -158.132 -93.705 -159.184 -92.019 -159.913 -90.562 C -161.41 -87.566 -157.864 -83.717 -154.894 -84.707 C -149.624 -86.463 -152.53 -94.326 -157.822 -94.326" />
                <path d="M -141.511 -95.58 C -146.676 -88.349 -137.964 -83.855 -135.238 -89.307 C -133.577 -92.629 -138.881 -97.792 -141.929 -94.744" />
                <path d="M -156.985 -74.251 C -147.989 -63.456 -140.533 -68.955 -133.565 -75.924" />
                <path d="M -150.294 -83.034 C -147.903 -83.375 -141.511 -82.499 -141.511 -78.851 C -141.511 -78.214 -145.474 -78.433 -146.111 -78.433 C -148.061 -78.433 -149.331 -77.179 -150.712 -77.179" />
            </g>
        </g>
    </a>
    <a asp-page="SnowmanForest" asp-route-tree="9" asp-route-guess="@guess">
        <g>
            <title>Snowman10</title>
            <path d="M -94.478 -263.769 C -110.555 -260.197 -123.411 -236.211 -106.992 -223.896 C -97.133 -216.502 -85.833 -216.567 -74.33 -219.442 C -72.462 -219.909 -70.699 -221.742 -69.24 -222.836 C -65.26 -225.821 -61.822 -228.77 -58.423 -232.168 C -52.218 -238.374 -50.764 -249.486 -53.333 -257.194 C -54.292 -260.071 -56.969 -263.991 -60.12 -265.042 C -66.76 -267.255 -74.238 -267.375 -81.541 -267.375 C -84.618 -267.375 -89.204 -267.295 -92.145 -266.314 C -93.403 -265.895 -94.516 -264.817 -95.751 -264.405 C -96.33 -264.212 -98.932 -263.63 -98.932 -263.133" />
            <path d="M -55.242 -259.527 C -56.966 -268.145 -47.329 -278.991 -39.547 -281.584 C -37.242 -282.353 -32.205 -285.018 -29.579 -283.705 C -27.198 -282.515 -24.03 -282.454 -21.52 -280.948 C -15.837 -277.539 -15.495 -271.694 -14.097 -266.102 C -10.555 -251.936 -28.84 -243.642 -40.396 -245.954 C -43.11 -246.496 -46.654 -245.795 -49.091 -247.014 C -50.929 -247.933 -52.524 -251.335 -53.333 -252.952 C -54.253 -254.793 -56.939 -255.234 -56.939 -256.982" />
            <path d="M -45.274 -268.435 C -52.61 -265.99 -48.475 -247.534 -40.184 -251.68 C -33.684 -254.93 -33.155 -264.385 -39.547 -268.647 C -40.13 -269.036 -45.486 -269.178 -45.486 -268.647" />
            <path d="M -32.336 -275.434 C -34.598 -272.267 -31.044 -269.727 -28.519 -272.253 C -27.018 -273.754 -31.488 -275.831 -31.488 -275.222" />
            <path d="M -27.671 -261.86 C -31.787 -261.86 -29.161 -254.965 -25.974 -256.558 C -24.494 -257.298 -22.935 -260.895 -24.701 -262.072 C -25.726 -262.755 -26.656 -262.496 -27.671 -262.496" />
            <path d="M -72.633 -268.011 C -70.949 -271.716 -70.876 -275.735 -70.088 -279.676 C -69.77 -281.266 -68.662 -283.668 -69.24 -285.402 C -70.133 -288.082 -71.952 -290.568 -72.845 -293.249 C -73.705 -295.828 -75.202 -297.963 -76.027 -299.612 C -76.249 -300.057 -75.844 -300.702 -76.239 -301.097 C -76.875 -302.342 -76.239 -305.589 -76.239 -307.883" />
            <path d="M -78.572 -300.672 C -79.564 -301.394 -83.853 -304.702 -85.359 -304.702" />
            <path d="M -74.754 -232.168 C -77.32 -233.023 -79.697 -234.357 -82.177 -235.349 C -84.278 -236.189 -86.497 -236.661 -88.54 -237.682 C -90.471 -238.648 -94.749 -240.71 -96.175 -242.136 C -97.086 -243.047 -96.638 -246.051 -96.811 -247.438 C -97.178 -250.372 -97.895 -253.22 -98.508 -256.134 C -99.044 -258.68 -99.484 -261.226 -99.993 -263.769 C -100.785 -267.731 -100.561 -272.964 -102.326 -276.494 C -103.759 -279.362 -95.809 -284.611 -98.084 -286.887" />
            <path d="M -104.022 -278.191 C -105.832 -279.096 -107.669 -280.141 -109.113 -281.584 C -109.467 -281.939 -110.993 -283.705 -109.961 -283.705" />
            <path d="M -141.35 -245.105 C -148.313 -249.457 -156.444 -243.7 -161.923 -239.591 C -166.549 -236.121 -171.286 -230.572 -172.951 -224.745 C -175.841 -214.63 -171.177 -199.602 -160.862 -195.476 C -156.331 -193.664 -151.38 -194.527 -146.652 -195.052 C -135.239 -196.32 -123.918 -200.882 -116.536 -210.111 C -112.84 -214.73 -110.459 -224.398 -112.718 -230.047 C -114.853 -235.385 -124.995 -241.069 -130.109 -242.348 C -134.816 -243.525 -140.372 -244.469 -144.531 -244.469" />
            <path d="M -148.349 -318.488 C -139.787 -314.596 -127.776 -306.158 -127.776 -295.582" />
            <path d="M -112.294 -334.395 C -104.766 -330.288 -96.811 -321.481 -96.811 -312.549" />
            <path d="M -65.21 -332.486 C -55.71 -331.298 -53.861 -319.489 -51 -312.337 C -49.745 -309.198 -47.819 -305.325 -47.819 -301.945" />
            <path d="M 13.899 -290.068 C 13.899 -277.1 7.047 -265.761 2.022 -255.71 C 1.576 -254.818 4.247 -253.643 4.779 -253.377 C 5.493 -253.02 6.606 -254.78 7.112 -255.285 C 8.643 -256.816 10.607 -258.985 11.354 -261.224 C 12.012 -263.199 13.582 -267.058 14.747 -268.223 C 15.351 -268.826 15.172 -270.769 15.596 -271.616 C 17.44 -275.304 17.492 -279.202 18.565 -283.493 C 18.98 -285.156 18.474 -287.977 19.201 -289.432 C 19.562 -290.153 20.198 -291.044 19.837 -291.765 C 19.402 -292.635 14.814 -292.68 14.323 -292.189 C 14.009 -291.875 13.899 -289.44 13.899 -288.795" />
            <path d="M 20.474 -285.826 C 24.029 -284.303 27.67 -284.276 31.29 -283.069 C 33.076 -282.474 35.596 -282.793 36.804 -281.584 C 38.692 -279.697 38.501 -274.349 38.501 -271.404 C 38.501 -262.531 30.169 -253.77 23.019 -250.195 C 21.068 -249.22 16.572 -251.34 15.383 -252.528 C 14.468 -253.444 12.154 -253 11.354 -253.801 C 11.056 -254.098 9.178 -255.442 8.597 -254.861" />
            <path d="M -161.074 -219.442 C -162.084 -216.413 -160.492 -212.984 -156.832 -213.716 C -155.639 -213.955 -153.13 -216.068 -153.863 -217.534 C -154.351 -218.51 -155.348 -218.665 -156.196 -219.23 C -156.757 -219.604 -157.212 -220.064 -157.893 -220.291 C -159.14 -220.707 -160.399 -219.018 -161.498 -219.018" />
            <path d="M -143.683 -224.108 C -148.336 -223.527 -147.329 -217.534 -143.683 -217.534 C -137.663 -217.534 -140.284 -227.083 -143.471 -223.896" />
            <path d="M -130.958 -227.502 C -134.041 -225.96 -134.462 -220.626 -130.109 -221.351 C -128.467 -221.625 -124.395 -225.817 -126.08 -227.502 C -127.01 -228.432 -129.189 -228.35 -130.533 -228.35" />
            <path d="M -103.81 -237.682 C -106.242 -234.845 -103.828 -232.575 -101.265 -235.137 C -99.958 -236.444 -104.235 -240.008 -104.235 -237.258" />
            <path d="M -84.722 -247.438 C -87.901 -244.26 -83.563 -240.929 -80.481 -242.984 C -76.782 -245.45 -80.1 -250.364 -83.45 -247.014" />
            <path d="M -71.785 -252.104 C -77.191 -254.807 -74.693 -243.894 -70.3 -248.287 C -69.817 -248.77 -69.519 -249.213 -69.24 -249.771 C -67.722 -252.806 -74.542 -252.534 -74.542 -250.407" />
        </g>
    </a>
    @if (Model.CanSolve)
    {
        if (Model.CurrentElfPosition == 0)
        {
            <g>
                <title>Elf1</title>
                <path d="M 224.554 235.974 C 230.623 232.939 238.098 228.426 242.19 224.334 C 244.828 221.695 249.057 220.641 251.36 218.338 C 252.106 217.592 258.767 215.79 258.767 214.458 C 258.767 213.85 252.936 214.106 252.418 214.106 C 249.493 214.106 243.701 213.274 241.131 211.989 C 237.38 210.114 230.069 211.155 227.023 208.11 C 226.407 207.494 221.909 203.7 221.027 204.582 C 219.748 205.862 221.732 210.17 221.732 211.989 C 221.732 218.979 222.438 228.495 222.438 235.974" />
                <path d="M 230.903 235.268 C 230.903 245.985 238.856 251.493 248.538 251.493" />
                <path d="M 251.36 221.16 C 262.689 222.778 262.647 235.638 262.647 243.733" />
                <path d="M 237.604 235.974 C 237.01 240.133 240.709 244.225 243.248 239.148 C 245.189 235.265 237.252 232.568 237.252 235.621" />
                <path d="M 248.891 229.978 C 248.186 230.683 247.424 231.336 246.775 232.094 C 245.609 233.454 248.493 235.82 249.596 235.268 C 251.23 234.451 256.287 228.919 251.36 228.919 C 250.503 228.919 249.033 229.625 248.891 229.625" />
                <path d="M 244.658 246.202 C 251.33 247.036 254.887 243.875 254.887 237.384" />
            </g>
        }
        if (Model.CurrentElfPosition == 1)
        {
            <g>
                <title>Elf2</title>
                <g>
                    <path d="M 702.828 170.722 C 706.123 166.769 710.5 165.167 713.41 162.257 C 714.337 161.329 716.87 161.618 717.642 160.846 C 718.666 159.822 722.758 159.701 724.344 160.494 C 729.449 163.046 733.31 166.785 735.983 172.133 C 736.931 174.03 737.679 175.945 739.157 177.424 C 739.915 178.181 739.593 181.49 739.157 182.362 C 736.358 187.961 733.12 190.163 729.282 194.001 C 726.616 196.666 721.699 198.939 718.348 198.939" />
                    <path d="M 741.274 144.974 C 745.367 149.886 750.643 155.247 753.266 160.494 C 754.291 162.545 755.583 164.827 757.498 165.784 C 758.53 166.3 762.615 172.749 763.847 172.133 C 765.6 171.257 767.065 167.108 768.08 165.079 C 771.005 159.228 772.694 152.677 775.487 147.091 C 776.079 145.907 781.317 140.223 779.719 138.626 C 778.708 137.615 771.987 139.331 769.843 139.331 C 758.89 139.331 749.144 144.269 739.157 144.269" />
                    <path d="M 740.921 150.618 C 735.633 152.601 733.005 155.007 729.987 158.025 C 728.115 159.897 729.634 165.643 729.634 165.079" />
                    <path d="M 758.204 168.606 C 757.485 173.64 754.472 176.644 750.797 178.482 C 748.347 179.707 739.51 178.769 739.51 176.366 C 735.294 178.835 730.251 177.908 727.871 176.718 C 725.857 175.712 721.416 178.623 720.464 176.718 C 719.238 174.267 723.463 165.248 723.991 161.552" />
                    <path d="M 736.689 160.846 C 736.689 165.685 740.654 176.28 746.212 170.722" />
                    <path d="M 743.39 157.672 C 742.924 158.915 741.522 161.147 743.037 161.905 C 744.127 162.449 746.774 160.35 746.212 159.788 C 745.312 158.889 743.037 158.944 743.037 157.672" />
                    <path d="M 749.739 165.784 C 748.718 173.951 755.208 167.108 751.15 165.079 C 750.149 164.579 750.081 165.784 749.386 165.784" />
                    <path d="M 722.227 156.967 C 723.932 151.853 726.107 146.318 726.107 141.447 C 726.107 140.785 719.758 139.684 719.758 139.684 C 719.758 139.684 719.158 144.058 719.053 144.269 C 716.763 148.848 715.526 155.482 715.526 160.846" />
                    <path d="M 721.169 137.215 C 717.199 133.244 721.491 125.897 725.049 129.455 C 725.657 130.063 728.56 132.293 727.165 133.688 C 726.436 134.417 726.236 136.38 725.402 137.215 C 725.119 137.498 723.286 139.281 723.286 139.331" />
                    <path d="M 736.689 184.831 C 740.844 186.018 749.239 185.389 751.855 188.005 C 752.384 188.534 754.148 187.829 754.677 188.358 C 754.814 188.495 752.845 190.964 752.56 191.532 C 751.207 194.239 750.727 199.433 745.506 196.823 C 742.279 195.209 737.312 190.827 734.22 190.827" />
                    <path d="M 752.56 194.354 C 749.894 199.021 753.809 204.04 757.851 199.997 C 763.134 194.714 757.672 187.126 752.56 192.238" />
                </g>
            </g>
        }
        if (Model.CurrentElfPosition == 2)
        {
            <g>
                <title>Elf3</title>
                <path d="M 242.753 27.947 C 245.416 23.154 248.204 19.173 250.554 14.472 C 251.226 13.128 252.012 8.867 253.214 8.266 C 253.861 7.943 256.332 11.347 256.76 11.989 C 259.319 15.827 262.256 19.79 265.271 22.805 C 265.897 23.431 269.067 26.205 268.817 26.706 C 267.778 28.783 263.348 26.706 261.725 26.706 C 255.12 26.706 247.568 28.479 242.044 28.479" />
                <path d="M 249.845 10.748 C 250.23 8.052 247.644 6.279 245.59 5.252 C 241.562 3.238 236.708 2.432 233.71 5.429" />
                <path d="M 229.81 19.613 C 227.633 19.613 229.324 23.094 230.519 23.691 C 233.876 25.37 234.401 26.706 238.852 26.706 C 240.324 26.706 242.398 27.026 242.398 25.465" />
                <path d="M 239.03 18.55 C 237.042 21.531 240.672 21.694 242.044 20.323 C 243.055 19.311 241.018 17.771 240.448 17.486 C 239.384 16.954 238.381 18.312 237.966 18.727" />
                <path d="M 241.866 12.167 C 240.571 15.19 243.79 14.881 244.703 13.053 C 245.021 12.418 244.391 11.897 244.171 11.457 C 242.876 8.866 240.791 11.989 241.335 11.989" />
                <path d="M 236.193 8.975 C 233.792 10.69 230.307 16.565 232.824 19.082" />
                <path d="M 235.306 -7.514 C 238.062 -8.203 242.044 -11.578 242.044 -7.337 C 242.044 -7.096 242.575 -5.564 242.398 -5.387 C 241.352 -4.34 235.483 -4.109 235.483 -2.904" />
                <path d="M 242.221 -8.933 C 241.825 -11.706 245.784 -12.887 248.072 -12.124 C 249.897 -11.516 251.089 -6.363 249.136 -5.387 C 247.759 -4.698 245.747 -4.323 243.994 -4.323" />
                <path d="M 221.831 29.188 C 222.762 30.864 225.909 34.085 225.909 35.748" />
                <path d="M 215.803 34.507 C 216.834 35.667 220.413 39.332 220.413 40.535 C 220.413 41.487 218.774 43.698 220.413 44.791 C 221.326 45.4 223.262 45.228 224.136 44.791 C 225.165 44.276 226.617 44.437 227.682 43.904 C 229.302 43.094 230.709 39.674 229.81 37.876 C 227.789 33.835 222.483 36.16 220.235 38.408 C 219.394 39.249 220.235 40.593 220.235 41.245" />
            </g>
        }
        if (Model.CurrentElfPosition == 3)
        {
            <g>
                <title>Elf4</title>
                <path d="M 13.399 232.554 C 21.075 230.361 27.558 222.359 33.811 219.232 C 34.403 218.936 39.865 215.402 40.043 215.579 C 41.217 216.753 40.472 220.934 40.472 222.455 C 40.472 226.887 40.066 232.217 41.117 236.421 C 41.524 238.052 40.81 239.889 41.547 241.363 C 41.865 241.999 42.775 248.085 42.406 248.454 C 41.693 249.167 38.612 247.846 37.679 247.38 C 33.709 245.394 29.63 243.785 25.217 241.578 C 21.124 239.532 15.238 239.334 12.11 236.207 C 11.777 235.874 8.622 235.017 8.887 234.488 C 9.983 232.295 14.044 233.795 14.044 231.265" />
                <path d="M 10.176 231.265 C 1.013 224.719 -1.819 208.249 7.812 201.828 C 9.403 200.767 11.102 199.861 12.754 199.034 C 13.262 198.781 15.438 198.929 15.763 198.605 C 16.581 197.786 22.224 197.75 23.498 198.175 C 28.732 199.92 31.145 205.563 33.811 209.563 C 35.387 211.926 35.745 214.522 35.745 216.868" />
                <path d="M 10.606 206.77 C 8.536 207.287 7.011 208.1 6.308 210.208 C 5.563 212.445 7.905 216.623 10.391 215.794 C 14.093 214.56 17.685 212.607 18.986 208.703 C 19.294 207.779 19.914 205.334 19.2 204.621 C 15.809 201.23 9.95 206.136 8.027 208.059" />
                <path d="M 11.465 220.306 C 9.123 224.054 12.45 228.991 15.977 225.463 C 16.835 224.606 17.284 223.71 17.911 222.455 C 19.744 218.79 10.176 217.33 10.176 221.596" />
                <path d="M 22.423 211.926 C 21.002 213.585 20.694 214.679 21.134 216.439 C 21.378 217.413 23.054 218.917 24.142 218.373 C 26.561 217.163 26.487 216.457 28.225 214.72 C 28.305 214.639 28.305 212.866 28.225 212.786 C 26.905 211.466 21.564 209.765 21.564 213.001" />
                <path d="M 12.969 197.96 C 15.775 188.609 10.063 177.333 0.292 177.333" />
                <path d="M 0.077 209.348 C -2.503 210.208 -7.658 208.953 -7.658 206.125" />
                <path d="M 6.953 184.638 C 12.702 182.996 14.685 172.169 12.325 167.449 C 11.706 166.211 11.943 164.488 11.035 163.581 C 8.212 160.758 6.79 160.814 3.3 159.069 C 1.719 158.278 2.317 153.821 3.3 152.838 C 4.278 151.86 8.257 149.2 9.961 150.904 C 10.388 151.331 12.99 151.723 12.325 153.053 C 11.484 154.734 9.316 156.706 8.027 157.995 C 7.595 158.427 5.234 159.605 5.234 159.069" />
                <path d="M 11.465 157.135 C 14.61 158.034 15.583 161.199 16.622 163.796 C 18.478 168.437 19.2 174.112 17.911 179.267 C 17.27 181.83 14.763 183.629 13.614 185.928 C 13.458 186.238 12.617 188.291 12.325 188.291 C 12.149 188.291 12.11 187.676 12.11 187.432" />
                <path d="M 23.283 173.25 C 22.718 169.298 26.153 172.877 27.151 174.54 C 29.083 177.76 29.983 183.837 29.084 187.432 C 28.776 188.664 28.852 190.019 27.58 190.655" />
                <path d="M 35.96 195.597 C 41.367 194.921 41.972 185.904 41.117 181.63 C 40.881 180.449 38.968 175.276 38.968 176.258" />
                <path d="M 47.348 218.802 C 54.005 216.9 54.868 203.981 54.868 198.39 C 54.868 196.932 55.633 190.225 53.794 190.225" />
            </g>
        }
        if (Model.CurrentElfPosition == 4)
        {
            <g>
                <title>Elf5</title>
                <path d="M 353.996 22.227 C 354.819 13.995 351.4 5.437 351.4 -2.777 C 351.4 -2.885 352.529 -2.759 352.766 -2.64 C 353.864 -2.091 355.108 -1.674 356.182 -1.137 C 359.314 0.429 363.036 1.47 366.293 3.098 C 368.488 4.196 371.439 3.827 373.534 4.875 C 373.926 5.07 377.044 4.686 376.677 5.421 C 376.239 6.297 375.253 6.826 374.491 7.334 C 372.393 8.732 370.896 10.566 368.616 11.706 C 367.805 12.111 366.986 13.178 366.293 13.756 C 363.716 15.903 361.379 18.123 359.051 20.45 C 357.921 21.58 356.374 22.356 355.089 23.32 C 354.668 23.635 353.313 24.09 353.313 24.549" />
                <path d="M 357.685 23.593 C 358.117 27.908 363.077 32.711 366.703 34.523 C 367.471 34.908 369.187 34.822 369.709 35.343 C 369.916 35.551 370.784 35.334 371.075 35.48 C 372.673 36.279 376.13 35.242 376.13 33.567" />
                <path d="M 375.857 8.427 C 380.036 9.567 382.283 13.908 383.235 17.718 C 383.501 18.781 384.937 21.344 383.918 22.363" />
                <path d="M 369.982 30.151 C 371.237 30.988 371.824 30.92 373.261 30.561 C 377.45 29.514 378.999 26.44 378.999 22.637" />
                <path d="M 369.982 16.761 C 369.551 17.732 369.346 18.311 369.982 18.948 C 370.646 19.612 372.769 19.794 373.261 18.811 C 373.524 18.284 373.671 17.205 373.671 16.625 C 373.671 14.663 369.162 14.426 369.162 16.488" />
                <path d="M 362.74 22.637 C 361.091 24.945 364.114 27.274 366.02 25.369 C 366.695 24.694 365.977 22.342 365.2 21.953 C 363.952 21.33 363.469 21.771 362.74 22.5" />
            </g>
        }
        if (Model.CurrentElfPosition == 5)
        {
            <g>
                <title>Elf6</title>
                <path d="M 471.774 -159.618 C 471.774 -160.082 472.769 -161.406 472.971 -162.012 C 473.715 -164.242 474.406 -167.457 475.765 -169.495 C 476.231 -170.194 477.816 -172.422 477.561 -173.187 C 477.347 -173.829 473.939 -172.246 473.171 -171.989 C 470.915 -171.238 468.264 -171.631 466.187 -170.593 C 465.789 -170.394 464.571 -170.673 464.291 -170.393 C 463.976 -170.078 465.728 -168.457 465.987 -168.198 C 468.19 -165.995 470.487 -163.443 472.173 -160.915 C 472.293 -160.136 473.927 -159.09 474.468 -158.819 C 476.247 -157.93 478.902 -158.278 480.754 -159.019 C 484.318 -160.445 484.701 -164.374 485.742 -167.5 C 485.94 -168.094 485.581 -170.573 484.944 -170.892 C 483.744 -171.492 481.203 -173.861 479.257 -172.887 C 478.798 -172.658 478.59 -171.989 478.16 -171.989" />
                <path d="M 482.749 -158.321 C 482.557 -156.779 483.799 -156.373 484.645 -155.527 C 484.945 -155.226 485.388 -155.826 485.443 -155.826" />
                <path d="M 486.042 -168.897 C 487.206 -169.396 487.651 -169.591 488.835 -169.196 C 489.142 -169.093 490.26 -167.899 489.733 -167.899" />
                <path d="M 486.94 -178.275 C 483.503 -176.748 483.649 -181.868 486.042 -183.064 C 488.001 -184.044 489.579 -181.457 488.835 -179.971 C 488.653 -179.607 488.391 -178.475 487.937 -178.475 C 489.402 -177.01 490.53 -173.988 491.429 -172.189" />
                <path d="M 485.343 -152.933 C 484.331 -151.752 483.181 -151.716 481.951 -150.838 C 480.994 -150.154 479.924 -149.209 479.257 -148.543 C 479.143 -148.428 477.851 -149.396 477.561 -149.541 C 475.379 -150.631 474.371 -149.253 473.869 -147.246 C 473.79 -146.929 474.027 -146.133 474.169 -145.849 C 475.378 -143.429 477.143 -143.814 479.357 -144.552 C 480.652 -144.984 480.578 -147.621 479.856 -148.343" />
                <path d="M 479.856 -167.699 C 481.177 -165.585 479.682 -161.912 477.561 -161.912" />
            </g>
        }
        if (Model.CurrentElfPosition == 6)
        {
            <g>
                <title>Elf7</title>
                <path d="M 125.101 -157.529 C 126.095 -156.137 126.874 -154.692 127.837 -153.247 C 128.418 -152.375 129.184 -151.249 129.442 -150.214 C 129.86 -148.542 130.823 -146.626 131.762 -145.219 C 132.181 -144.589 132.332 -143.637 132.773 -143.197 C 132.841 -143.128 133.165 -143.379 133.248 -143.435 C 133.748 -143.767 133.872 -144.296 134.319 -144.743 C 134.997 -145.421 135.52 -146.344 136.103 -147.122 C 136.978 -148.288 138.024 -149.372 138.779 -150.63 C 140.573 -153.62 143.052 -156.347 145.142 -159.135 C 145.617 -159.768 146.244 -160.46 146.629 -161.038 C 146.729 -161.188 147.059 -161.605 146.986 -161.751 C 146.865 -161.994 146.012 -161.998 145.737 -162.108 C 144.299 -162.684 142.879 -162.734 141.336 -163.119 C 136.198 -164.404 130.883 -164.689 125.636 -165.439 C 124.4 -165.615 123.09 -165.676 121.83 -165.676 C 121.441 -165.676 120.957 -165.933 120.7 -165.676 C 120.582 -165.559 120.779 -165.221 120.819 -165.141 C 121.156 -164.468 121.453 -163.892 121.89 -163.238 C 123.169 -161.319 125.339 -159.025 125.339 -157.113" />
                <path d="M 118.797 -164.368 C 117.913 -164.609 117.088 -165.012 116.18 -165.141 C 111.384 -165.827 105.478 -162.569 103.573 -158.124 C 102.709 -156.108 101.988 -153.085 102.443 -150.809 C 102.457 -150.739 102.621 -150.761 102.621 -150.69" />
                <path d="M 131.167 -141.591 C 130.957 -139.491 129.498 -138.407 127.956 -137.25 C 126.987 -136.523 126.121 -135.661 125.101 -135.049 C 122.747 -133.637 119.844 -133.109 117.191 -132.73 C 116.714 -132.662 116.186 -132.586 115.705 -132.551 C 114.486 -132.464 112.994 -132.226 111.839 -132.611 C 111.186 -132.828 110.709 -132.638 110.709 -133.443" />
                <path d="M 107.438 -151.166 C 108.98 -151.782 110.724 -150.559 111.899 -149.619 C 114.415 -147.606 115.251 -145.192 116.002 -142.186 C 116.21 -141.353 116.59 -139.847 116.299 -138.974 C 116.009 -138.103 115.467 -136.814 115.467 -136.06" />
                <path d="M 115.288 -159.432 C 112.649 -156.792 115.919 -151.606 119.273 -153.842 C 119.705 -154.13 119.868 -154.794 119.987 -155.269 C 120.651 -157.926 118.471 -159.082 116.359 -159.61 C 115.656 -159.786 114.327 -159.283 114.634 -158.362" />
                <path d="M 121.235 -147.895 C 119.804 -147.69 120.173 -145.837 120.403 -144.802 C 120.608 -143.88 120.901 -142.944 121.533 -142.186 C 122.291 -141.276 124.575 -141.35 125.517 -141.888 C 127.934 -143.269 126.059 -148.262 123.733 -148.727 C 123 -148.874 120.879 -148.247 120.879 -147.3" />
            </g>
        }
        if (Model.CurrentElfPosition == 7)
        {
            <g>
                <title>Elf8</title>
                <path d="M 266.515 -436.026 C 267.383 -437.906 267.984 -439.982 268.53 -441.984 C 269.48 -445.466 271.187 -448.726 271.772 -452.235 C 272.023 -453.741 272.347 -455.274 272.824 -456.704 C 272.968 -457.135 273.048 -458.042 273.525 -458.281 C 274.45 -458.744 276.225 -456.106 276.854 -455.477 C 278.219 -454.112 279.238 -452.343 280.446 -450.833 C 282.059 -448.817 283.92 -447.287 285.353 -445.138 C 286.408 -443.555 288.281 -442.047 289.821 -441.02 C 290.358 -440.662 290.965 -440.227 291.399 -439.793 C 291.593 -439.599 292.375 -439.355 292.1 -439.355 C 288.502 -439.355 284.783 -438.647 281.147 -438.041 C 278.347 -437.574 275.322 -437.793 272.648 -436.902 C 271.57 -436.543 270.169 -436.451 269.144 -435.938 C 268.766 -435.749 268.283 -436.034 267.917 -435.851 C 267.668 -435.726 266.348 -435.404 266.077 -435.675" />
                <path d="M 265.727 -433.047 C 265.365 -428.711 265.908 -425.416 268.53 -421.919 C 269.415 -420.74 271.134 -419.737 272.473 -419.291 C 274.161 -418.728 275.695 -417.487 277.38 -416.925 C 278.684 -416.491 280.595 -416.59 281.936 -416.925 C 283.196 -417.241 284.392 -417.306 285.616 -417.714 C 286.478 -418.001 286.941 -418.902 287.719 -419.291 C 289.651 -420.257 291.409 -422.29 292.362 -424.198 C 294.211 -427.895 296.599 -431.932 294.64 -435.851 C 294.11 -436.911 293.826 -438.479 292.45 -438.479" />
                <path d="M 276.679 -415.348 C 272.89 -414.807 269.345 -413.472 267.567 -409.916 C 266.751 -408.286 267.391 -407.269 267.391 -405.535 C 267.391 -405.195 267.234 -403.695 267.742 -403.695" />
                <path d="M 289.121 -417.626 C 287.685 -418.447 289.64 -418.413 290.347 -418.59 C 291.628 -418.91 292.906 -418.35 294.027 -417.977 C 296.722 -417.078 297.32 -413.742 297.882 -411.493 C 298.149 -410.426 298.763 -408.514 297.444 -408.514" />
                <path d="M 295.955 -417.451 C 298.945 -417.878 301.936 -418.464 304.892 -419.203 C 307.006 -419.732 309.295 -419.844 311.288 -420.342 C 312.154 -420.559 313.315 -420.48 314.092 -420.868 C 314.83 -421.237 313.977 -423.206 314.53 -423.759 C 315.358 -424.588 315.97 -424.48 316.983 -424.986 C 317.825 -425.407 319.139 -424.696 319.787 -424.373 C 321.693 -423.42 322.097 -420.239 322.415 -418.327 C 322.586 -417.303 322.527 -416.299 321.627 -415.699 C 320.165 -414.724 317.32 -414.949 315.931 -415.874 C 315.377 -416.243 315.143 -416.925 314.792 -417.276 C 314.701 -417.367 314.164 -417.013 314.004 -417.013 C 312.909 -417.013 311.923 -416.903 310.937 -416.575 C 307.946 -415.578 304.418 -415.243 301.65 -413.859 C 300.784 -413.426 299.738 -414.05 299.021 -413.333" />
                <path d="M 265.902 -410.003 C 261.42 -408.883 256.381 -410.778 251.883 -409.653 C 250.349 -409.27 248.413 -409.39 246.801 -409.39 C 246.229 -409.39 245.636 -409.478 245.049 -409.478 C 244.826 -409.478 244.278 -409.058 244.436 -409.215 C 247.418 -412.197 244.029 -417.004 240.405 -416.4 C 238.134 -416.021 235.285 -414.506 234.36 -412.194 C 233.894 -411.03 233.975 -409.262 234.272 -408.076 C 235.002 -405.155 235.275 -402.076 238.565 -400.979 C 240.098 -400.468 243.476 -401.338 244.26 -402.906 C 244.553 -403.493 244.501 -404.154 244.698 -404.746 C 244.705 -404.766 244.694 -405.798 244.698 -405.798 C 245.157 -405.798 245.461 -405.288 246.1 -405.447 C 248.371 -406.015 251.182 -406.061 253.548 -406.061 C 254.718 -406.061 256.743 -405.607 257.841 -405.973 C 260.213 -406.764 263.895 -406.674 266.077 -406.674" />
                <path d="M 272.035 -425.687 C 273.908 -423.58 277.577 -420.348 280.709 -421.131 C 282.373 -421.547 283.9 -422.2 285.441 -422.971 C 286.193 -423.347 288.085 -424.054 288.507 -424.898 C 288.672 -425.228 288.593 -425.948 288.858 -426.213 C 288.969 -426.324 289.383 -426.989 289.383 -427.089" />
                <path d="M 275.189 -432.696 C 273.799 -432.001 273.633 -429.731 275.452 -429.367 C 276.601 -429.137 277.813 -430.145 278.256 -431.032 C 278.964 -432.448 274.401 -434.093 274.401 -432.521" />
                <path d="M 285.09 -434.799 C 284.239 -434.07 283.871 -433.778 283.601 -432.696 C 283.213 -431.147 285.684 -430.392 286.842 -430.681 C 287.335 -430.804 287.701 -431.434 287.894 -431.82 C 288.424 -432.881 289.219 -433.737 288.069 -434.887 C 287.582 -435.374 285.178 -435.811 285.178 -434.624" />
            </g>
        }
        if (Model.CurrentElfPosition == 8)
        {
            <g>
                <title>Elf9</title>
                <path d="M -135.344 39.15 C -135.344 38.121 -133.372 40.943 -133.206 41.109 C -132.302 42.013 -130.047 42.956 -128.396 43.781 C -122.406 46.776 -115.153 49.328 -108.979 51.797 C -106.51 52.785 -103.533 54.902 -101.854 53.223 C -101.539 52.908 -101.889 51.511 -101.676 51.085 C -100.437 48.607 -102.084 44.042 -101.498 41.109 C -101.058 38.912 -101.319 36.422 -101.319 34.162 C -101.319 31.893 -100.12 25.207 -101.498 23.83 C -101.803 23.524 -103.359 24.582 -103.635 24.721 C -105.523 25.665 -107.658 26.846 -109.87 27.215 C -111.767 27.531 -112.994 28.866 -114.68 29.708 C -120.021 32.379 -126.856 38.068 -133.028 36.834 C -134.642 35.587 -136.208 32.954 -137.303 31.312 C -140.231 26.92 -138.577 18.348 -135.7 14.032 C -130.744 6.599 -120.726 7.18 -113.789 10.648 C -112.368 11.358 -110.612 13.616 -109.87 15.101 C -109.289 16.264 -107.517 18.345 -106.664 19.198 C -105.11 20.752 -105.06 24.117 -105.06 25.611" />
                <path d="M -133.384 22.405 C -132.508 18.901 -127.067 11.936 -122.518 14.211 C -121.177 14.881 -118.466 18.13 -117.886 18.13" />
                <path d="M -131.068 28.462 C -131.555 29.435 -132.047 30.378 -131.424 31.312 C -130.699 32.4 -127.343 32.606 -126.793 30.955 C -126.397 29.768 -126.459 25.355 -128.752 26.502 C -129.277 26.764 -130.89 27.927 -130.89 27.927" />
                <path d="M -119.846 23.474 C -122.442 25.637 -120.7 30.207 -117.886 27.393 C -116.053 25.559 -117.892 21.521 -120.024 23.652" />
            </g>
        }
        if (Model.CurrentElfPosition == 9)
        {
            <g>
                <title>Elf10</title>
                <path d="M -49.838 -226.986 C -50.727 -226.097 -51.351 -225.563 -51.797 -224.671 C -52.576 -223.114 -51.062 -218.536 -48.769 -219.683 C -45.266 -221.434 -41.509 -225.338 -46.988 -227.165 C -48.274 -227.593 -49.231 -226.452 -50.194 -226.452" />
                <path d="M -49.66 -218.436 C -46.857 -211.896 -41.123 -207.05 -37.368 -203.294 C -36.72 -202.646 -35.108 -203.5 -34.34 -203.116 C -31.584 -201.738 -27.393 -200.464 -27.393 -204.185 C -27.393 -204.497 -27.154 -205.667 -27.215 -205.788 C -27.51 -206.379 -28.917 -206.652 -29.53 -206.857 C -31.659 -207.567 -35.924 -208.62 -37.012 -209.707 C -39.019 -211.714 -41.667 -215.277 -42.891 -217.723 C -43.181 -218.305 -44.529 -221.464 -45.028 -221.464" />
                <path d="M -10.292 -209.885 C -6.889 -212.721 -5.432 -216.526 -2.275 -219.683 C -2.108 -219.85 -4.588 -223.775 -4.947 -224.314 C -6.302 -226.347 -8.336 -229.84 -9.579 -231.084 C -10.088 -231.593 -11.416 -230.783 -11.895 -231.262 C -12.838 -232.205 -13.856 -233.046 -14.567 -234.468 C -16.714 -238.763 -10.137 -243.832 -6.373 -241.95 C -4.23 -240.879 -4.652 -235.12 -6.016 -233.756 C -6.514 -233.258 -7.461 -232.133 -7.976 -231.618 C -8.304 -231.289 -9.061 -231.084 -8.866 -231.084" />
                <path d="M -6.016 -233.043 C -2.451 -232.152 1.609 -226.165 3.247 -222.889 C 3.909 -221.565 6.18 -220.74 5.384 -219.148 C 3.674 -215.728 0.171 -211.798 -2.454 -209.173 C -3.267 -208.359 -6.551 -205.769 -6.551 -206.144" />
                <path d="M -28.996 -206.501 C -28.429 -211.038 -21.415 -212.557 -17.417 -212.557 C -16.331 -212.557 -14.597 -212.84 -13.676 -212.379 C -8.462 -209.772 -6.119 -205.917 -4.235 -200.266 C -3.55 -198.211 -5.01 -194.87 -4.057 -192.962 C -3.493 -191.836 -3.275 -187.221 -3.879 -186.015 C -6.263 -181.247 -11.843 -184.37 -16.526 -182.809 C -17.947 -182.335 -20.305 -182.239 -21.87 -182.63 C -23.465 -183.029 -27.129 -182.189 -28.283 -183.343 C -29.177 -184.237 -28.924 -185.87 -29.53 -187.084 C -30.775 -189.574 -31.502 -194.337 -30.777 -197.238 C -30.458 -198.513 -29.887 -199.858 -29.887 -200.979" />
                <path d="M -31.312 -223.067 C -31.795 -218.715 -29.813 -214.302 -26.324 -212.557 C -25.078 -211.935 -23.206 -212.557 -22.227 -212.557" />
                <path d="M -15.992 -213.804 C -14.991 -215.206 -14.761 -216.266 -14.032 -217.723 C -13.77 -218.249 -13.32 -219.276 -13.32 -219.861 C -13.32 -220.383 -13.153 -221.319 -13.32 -221.82 C -14.708 -225.985 -16.45 -223.28 -20.089 -224.493 C -21.878 -225.089 -25.079 -225.739 -26.858 -224.849 C -27.901 -224.327 -32.318 -223.361 -32.737 -223.78 C -33.184 -224.227 -31.858 -226.427 -31.668 -226.808 C -30.405 -229.335 -28.456 -232.17 -27.571 -234.824 C -26.896 -236.848 -26.67 -240.535 -25.255 -241.95 C -25.163 -242.042 -21.975 -238.111 -21.514 -237.497 C -19.372 -234.64 -17.052 -230.879 -15.992 -227.699 C -15.581 -226.465 -14.032 -224.572 -14.032 -224.493" />
                <path d="M -29.352 -181.74 C -26.908 -176.24 -25.794 -170.893 -24.364 -165.173 C -24.006 -163.74 -23.915 -160.092 -23.117 -159.295 C -21.721 -157.898 -16.26 -159.293 -15.636 -160.541 C -15.364 -161.084 -14.499 -162.968 -15.101 -163.57 C -17.107 -165.575 -22.069 -163.392 -24.186 -163.392" />
                <path d="M -15.636 -163.748 C -15.636 -168.133 -16.883 -172.148 -16.883 -176.396 C -16.883 -177.881 -17.417 -179.095 -17.417 -180.493 C -17.417 -180.968 -17.892 -181.918 -17.417 -181.918 C -16.783 -181.918 -16.112 -178.476 -15.636 -177.999 C -13.819 -176.182 -12.128 -171.874 -10.826 -169.27 C -10.426 -168.471 -9.827 -166.366 -8.866 -165.886 C -8.169 -165.537 -5.837 -166.241 -5.482 -165.886 C -3.796 -164.199 -3.927 -167.975 -3.344 -168.558 C -3.047 -168.855 -3.463 -169.864 -3.166 -170.161 C -2.805 -170.522 -2.988 -171.977 -2.988 -172.655 C -2.988 -174.923 -2.832 -178.064 -3.522 -180.137 C -4.029 -181.656 -3.54 -183.182 -4.591 -184.234" />
                <path d="M -9.401 -164.46 C -12.237 -161.624 -11.396 -159.841 -8.154 -158.76 C -7.632 -158.586 -6.294 -158.087 -5.66 -158.404 C -4.108 -159.18 -2.692 -161.791 -3.344 -163.748 C -3.514 -164.258 -5.304 -165.986 -5.304 -164.995" />
            </g>
        }
    }
</svg>